{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
<form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
    {% csrf_token %}
    {% if next_page %}
        <input type="hidden" name="next_page" value="{{ next_page }}">
    {% endif %}
    {{ login_form.as_p }}
    <br>
    <input class="form-control" type="submit" value="enter">
</form>
    <a href="{% url 'auth:register' %}" class="btn btn-round form-control">
        Register
    </a>

    <a href="{% url 'social:begin' 'google-oath2' %}?next=/"
    class="btn btn-round form-control">Login with Google</a>
    <a href="{% url 'social:begin' 'vk-oath2' %}?next=/"
    class="btn btn-round form-control">Login with VK</a>
{% endblock content %}