{% extends 'ordersapp/base.html' %}
{% load static %}


{% block container %}
    <div class="h2 text-center head">
        Your orders, {{ user.first_name|default:'user'|title }}
    </div>
    <table class="table orders_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td class="td1 orders_list">{{ item.pk }}</td>
                <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                <td>{{ item.get_status_display }}</td>
                <td>
                    {% comment %} <a href="{% url 'ordersapp:order_read' item.pk %}"> {% endcomment %}
                        details
                    </a>
                </td>
                <td>
                    {% if item.status == 'F' %}
                        {% comment %} <a href="{% url 'ordersapp:order_update' item.pk %}"> {% endcomment %}
                            edit
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if item.status == 'F' %}
                        {% comment %} <a href="{% url 'ordersapp:order_delete' item.pk %}"> {% endcomment %}
                            delete
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default btn-round">
        <a href="{% url 'main' %}">
            main page
        </a>
    </button>
    <button class="btn btn-default btn-round">
        <a href="{% url 'ordersapp:order_create' %}">
            new
        </a>
    </button>
{% endblock %}